.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    /* display: flex; */
    overflow: hidden;
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 16px ;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
